<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.dansuse.bakingapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".BakingApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1c5ace6f3cefaa96123e34bfd85dc3eb36b3a980"
            />
        <activity android:name=".recipes.RecipesActivity"
                  android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".recipedetail.RecipeDetailActivity"
            android:parentActivityName=".recipes.RecipesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".recipes.RecipesActivity" />
        </activity>
        <activity
            android:name=".recipestepdetail.RecipeStepDetailActivity">
        </activity>

        <receiver android:name=".RecipeWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/recipe_widget_provider_info"/>
        </receiver>
        <provider
            android:name=".data.source.local.RecipeContentProvider"
            android:authorities="com.dansuse.bakingapp"
            android:exported="true"/>

        <service android:name=".RecipeWidgetService"/>
        <service
            android:name=".ListWidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>
    </application>

</manifest>